.text{
    background-color: brown;
    margin-left: 35%;
    margin-top: 15%;
    width: 350px;
    height: 350px;
    text-align: center;
    }
    input{
        border-radius: 35px;
        padding-left: 15px;

    }